body {
    background-color: #f5f7fa;
}


.card {
    border: none;
}


.navbar-brand {
    font-weight: bold;
}


.student-row {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}


.student-row label {
    margin-left: 20px;
}